<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>

	<div>
		<button class="cook">显示cookie</button>
		<input type="file" id="seafile">
		<button id="upload">上传</button>
		<button id="download">下载</button>
		<button id="copy">复制</button>
		<button id="move">移动</button>
		<button id="delete">删除</button><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<button id="logout">退出</button>
	</div>
	
	<div>
		<br><br><br><br><br><br><br><br><br><br><br>
		<a>注意：只有管理员登录才能创建用户</a><br>
		<label>用户名</label>
		<input type="text" id="username"><br>
		<label>密码</label>
		<input type="password" id="password"><br>
		<button id="createUser">创建</button>
	</div>
	
	<div>
		<button id="getUsers">得到所有用户</button>
		<table class="table">
			
		</table>
		<button class="deleteUser"></button>
	</div>


	<script type="text/javascript" src="../js/jquery-3.2.1.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/upload.js" charset="utf-8"></script>
</body>
</html>